/* Section 2 */
.section2{
    width: 85.3rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1024px){
        height: 100%;
        margin-bottom: 80px;
        margin-top: 80px;
    }
    @media (max-width: 768px){
        height: 100%;
        margin-bottom: 80px;
        margin-top: 80px;
    }

    .section2__container{
        width: 100%;
        height: 58%;
        border-left: 30px solid #E0752F;
        margin:-0.5px;
        @media (max-width: 1024px){
            border-left: 20px solid #E0752F;
        }
        @media (max-width: 768px){
            border-left: 15px solid #E0752F;
        }   
        .section2__container__texto{
            display: flex;
            flex-direction: column;
            padding-left: 16%;
            @media (max-width: 1024px){
                padding-left: 13%;
            }
            @media (max-width: 768px){
                padding-left: 10%;
            }

            .section2__titulo{
                width: 40%;
                padding-bottom: 5%;
                padding-top: 2%;
            }
            .section2__texto{
                width: 70%;
                margin: 0;
                @media (max-width: 1024px){
                    width: 94%;
                }
                @media (max-width: 768px){
                width: 100%;
            }
            }
        }
        
    }
}

