/* Section 4 */
<<<<<<< HEAD


.section4_acordion_container{
    background: url("../images/corredor.png");
=======
.section4_acordion_container{
    background: url("#");
>>>>>>> feature/seccion1
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 100%;
    .section4_acordion{
            display: flex;
            width: 60%;
            .section4_acordion_texto{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 36%;
                    margin-bottom: 37%;
                    margin-left: 15%;
            }
    }
  }
<<<<<<< HEAD

=======
>>>>>>> feature/seccion1
  $accordion-button-active-bg: #F8F8F8;
  $accordion-button-bg:#F8F8F8;
  $accordion-icon-color: #E0752F;
  $accordion-icon-active-color: #E0752F;
  $accordion-button-active-color: #5f6368;
  $accordion-border-width: 1px;
<<<<<<< HEAD
  
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";


=======
  @import "../../../node_modules/bootstrap/scss/bootstrap";
>>>>>>> feature/seccion1
