/* Section 4 */
.section4_acordion_container{
    background: url(../images/Corredor.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 100vw;
    height: 100vh;
    .section4_acordion{
            display: flex;
            width: 54%;
            margin-top: -54px;
            .section4_acordion_texto{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 36%;
                    margin-bottom: 37%;
                    margin-left: 15%;
            }
    }
    @media (max-width: 1024px) {
        .section4_acordion_container {
          width: 54%;
          height: 54%;
        }
        .section4_acordion{
                width: 100vw;
                margin-left: 0;
                .section4_acordion_texto{
                        margin-left: 0;
                        margin-top: 11%;
                }
        }
      }
      @media (max-width: 720px) {
        height: 77vh;              
      }
  }
  $accordion-button-active-bg: #F8F8F8;
  $accordion-button-bg:#F8F8F8;
  $accordion-icon-color: #E0752F;
  $accordion-icon-active-color: #E0752F;
  $accordion-button-active-color: #5f6368;
  $accordion-border-width: 1px;
  $carousel-indicator-opacity: .25;
  $carousel-indicator-spacer: 6.5px;
  $carousel-indicator-active-bg: #E0752F;

  @import "../../../node_modules/bootstrap/scss/bootstrap";
