@import '../Elements/Button.scss';
@import '../NavBar/NavBar.scss';


.principal{
    background: url(../images/bicicleta.png);
    background-size: cover;
    background-repeat:space;
    background-position: center;
    display: flex;
    flex-direction: column;
    .container_carousel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 86vw;
        height: 91vh;
        .container_internal{
            display: flex;
        }
        .container_internal_primero{
            display: flex;
        }
        .container_internal_segundo{
            display: flex;
        }
        .texto1{
            display: flex;
            flex-direction: column;
        }
        .botones_carousel{
            display: flex;
            flex-direction: row;
            margin:0;
            justify-content: flex-start;
            position: relative;
            top: 22rem;
            left: 2rem;
            @media (max-width: 1280px){
                margin-top:10%;
            }
            @media (max-width: 768px){
                margin-top: 10%;
            }   
        
            .carousel_boton{
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background-color: #E0752F;
            }
        }
        .titulo_carousel{
            width: 52%;
            @media (max-width:1024px){
                width: 90%;
            }
            @media (max-width:768px){
                width: 100%;
            }
        }
        .texto_carousel{
            padding-top: 4%;
            padding-bottom: 2%;
            width: 33%;
            color: #fff;
            @media (max-width: 1024px){
                width: 50%;
            }
            @media (max-width:768px){
                width: 75%;
            }
        }
    }
}
