.button__container {

    background-color: #e0752f;
     color: #fff;
     font-size: 1rem;
     border-radius: 1.5rem;
     border-style: none;
     padding: 14px 32px;
     width: fit-content;
     text-align: center;

}