.contenedor-menu {
  border-bottom: 1px solid #f44611;
  padding-left: 8%;
}
.contenedor-menu .nav_menu {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
}
.contenedor-menu .nav_menu .nav_menu_link {
  padding-right: 15%;
}
.contenedor-menu .nav_menu .nav_menu_link .fuente_menu {
  padding-right: 8%;
}
